# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x1=2
#float

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=12,two='Claire'))

My number is: 12, and my name is: Claire

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['a','b','c']

In [25]:
my_list.append('d')

In [26]:
my_list

['a', 'b', 'c', 'd']

In [27]:
#Indexing- accessing the elements
my_list[0]

'a'

In [28]:
my_list[1]

'b'

In [29]:
#Slicing(aided by a full colon)
my_list[0:]#all elements in the list
my_list[1:]#returns from the second element to the end of the list
my_list[:2]#returns the first two elements
my_list[1:3] #returns the elements in the second and third

['b', 'c']

In [30]:
my_list[:1]

['a']

In [31]:
#Replacing elements in a list
my_list[0] = 'NEW'
my_list[3] = 'OLD'

In [32]:
my_list

['NEW', 'b', 'c', 'OLD']

In [33]:
#Nested Lists
nest = [1,2,3,[4,5,['target']]]

In [34]:
nest[3]
nest1 = [1,2,3,[4,5,['target']],[4,8]]
nest1[4]

[4, 8]

In [35]:
#Returns the list as per the indices
nest[3][2]

['target']

In [36]:
#Returns the actual value
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
students_marks={'Claire':50,'Carol':60, 'Caleb':34}
students_marks['Caleb']

34

In [39]:
d

{'key1': 'item1', 'key2': 'item2'}

In [40]:
d['key1']

'item1'

### Booleans

In [41]:
True

True

In [42]:
False

False

### Tuples

In [43]:
t = (1,2,3)

In [44]:
t[0]

1

In [45]:
t[0] = 'NEW'  #Tuples donot support this

TypeError: 'tuple' object does not support item assignment

### Sets

In [46]:
{1,2,3}

{1, 2, 3}

In [47]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [48]:
1 > 2

False

In [49]:
1 < 2

True

In [50]:
1 >= 1

True

In [51]:
1 <= 4

True

In [52]:
1 == 1

True

In [53]:
'hi' == 'bye'

False

## Logic Operators

In [54]:
(1 > 2) and (2 < 3)

False

In [55]:
(1 > 2) or (2 < 3)

True

In [56]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [57]:
if 1 < 2:
    print('Ohhh Yaa!')

Ohhh Yaa!

In [58]:
if 1 < 2:
    print('Ahh True!')

Ahh True!

In [59]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [60]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [61]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [62]:
seq = [1,2,3,4,5]

In [63]:
for item in seq:
    print(item)

1
2
3
4
5

In [64]:
for item in seq:
    print('Present')

Present
Present
Present
Present
Present

In [65]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [66]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [70]:
x = [1,2,3,4]

In [71]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [72]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [73]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [74]:
my_func

In [75]:
my_func()

default

In [76]:
my_func('new param')

new param

In [77]:
my_func(param1='new param')

new param

In [78]:
def square(x):
    return x**2

In [79]:
out = square(2)

In [80]:
print(out)

4

## lambda expressions

In [81]:
def times2(var):
    return var*2

In [82]:
times2(2)

4

In [83]:
lambda var: var*2

## map and filter

In [84]:
seq = [1,2,3,4,5]

In [85]:
map(times2,seq)

In [86]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [87]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [88]:
filter(lambda item: item%2 == 0,seq)

In [89]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [90]:
st = 'hello my name is Sam'

In [91]:
st.lower()

'hello my name is sam'

In [92]:
st.upper()

'HELLO MY NAME IS SAM'

In [93]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [94]:
tweet = 'Go Sports! #Sports'

In [95]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [96]:
tweet.split('#')[1]

'Sports'

In [97]:
d

{'key1': 'item1', 'key2': 'item2'}

In [98]:
d.keys()

dict_keys(['key1', 'key2'])

In [99]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [100]:
lst = [1,2,3]

In [101]:
lst.pop()

3

In [102]:
lst

[1, 2]

In [103]:
'x' in [1,2,3]

False

In [104]:
'x' in ['x','y','z']

True

# Great Job!